*{
    margin: 0;
}

.navbrand img{
    width: 300px;
}

.navbar li, a{
    list-style-type: none;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
    background-color: rgba(224, 224, 224, 0.452);
}
